div#js-doc-2-html.span12.bg-white.hide.special-box
    div.span8.offset2
        h3  PPT/DOC To PDF
        label.inline-block UPLOAD PPT/DOC :
        div.input-control.text#doc-box(data-role="input-control")
            input#doc-url(type="input",tabindex="-1",style="z-index: 0;")
            button.btn-file#doc-file(type="button")


        input#doc-submit(type="submit",value="Start Convert")
        a.button.success.offset1.hide(href='#',target="_blank") Success,View Result
