div#js-md-2-html.span12.bg-white.hide
    div.span8.offset2
        div.bg-darkBlue
        label.inline-block Upload Markdown :
        div.input-control.text#md-box(data-role="input-control")
            input#md-url(type="input",tabindex="-1",style="z-index: 0;")
            button.btn-file#md-file(type="button")
        div.button.small.info#md-btn  开始上传

        label Choose Mode :
        div.input-control.radio(data-role="input-control")
            label.inline-block
                input(type="radio",name="md-mode",checked="",value="0")
                span.check
                | Render All
            label.inline-block.offset1
                input(type="radio",name="md-mode",value="1")
                span.check
                | Only Render Body


        label CSS URL :
        div.input-control.text(data-role="input-control")
            input(type="text",placeholder="",name="md-style",value="http://metro-demo-qiniu.qiniudn.com/css/metro-bootstrap.css")
            button.btn-clear(tabindex="-1",type="button")

        input#md-submit(type="submit",value="Submit")
