doctype html
html
  head
    meta(charset='utf-8')
    meta(name='product',content='')
    meta(name='description',content='')
    meta(name='author',content='')

    title= title

    link(rel='stylesheet', href='/stylesheets/metro-bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/metro-bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/iconFont.css')
    link(rel='stylesheet', href='/javascripts/prettify/prettify.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    <!-- Load JavaScript Libraries -->
    script(src='/javascripts/jquery/jquery.min.js')
    script(src='/javascripts/jquery/jquery.widget.min.js')
    script(src='/javascripts/jquery/jquery.mousewheel.js')
    script(src='/javascripts/prettify/prettify.js')
    script(src='/javascripts/m.js')

    <!-- Metro UI CSS JavaScript plugins -->
    script(src='/javascripts/load-metro.js')

    <!-- WebUploader JavaScript plugins -->
    script(src='/javascripts/webuploader/webuploader.js')

    <!-- Local JavaScript -->
    script(src='/javascripts/docs.js')
    script(src='/javascripts/upload.js')
    script(src='/javascripts/start-screen.js')
  body.metro
    block content

